<ul>

  <% @movies.each do |movie| %>

    <li><%= movie.title %> (<%= movie.rating%>): <%= total_gross(movie) %></li>
    <p><%= word_wrap(movie.description, break_sequence: "\n") %></p>
    <p><%= year_of(movie) %></p>

  <% end %>

</ul>