<section class="event-details">
  <div class="image">
    <%= image_tag(@movie.image_file_name)%>
  </div>
  <div class="details">
    <h1> <%= @movie.title %></h1>
    <h2>
       <%= @movie.released_on.year %>
    </h2>

    <div class="reviews">
      <%= avg_stars(@movie) %>
      <% if @movie.reviews.present? %>
        from <%= link_to pluralize(@movie.reviews.size, "review"), movie_reviews_path(@movie.id) %>
      <% end %>
    </div>

      <div>
        <%= link_to  "Add Review", new_movie_review_path(@movie)%>
      </div>
      <br/>
      <p>
        <%= @movie.description %>
      </p>
      <table>
        <tr>
          <th>Director:</th>
          <td><%= @movie.director %></td>
        </tr>
        <tr>
          <th>Duration:</th>
          <td><%= @movie.duration %></td>
        </tr>
        <tr>
          <th>Total Gross:</th>
          <td><%= total_gross(@movie) %></td>
        </tr>
      </table>
    </div>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Destroy", @movie, class: "btn btn-danger",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </section>
<% end %>
