<h1>New review</h1>

<%= form_with(model: [@movie, @review]) do |f| %>

  <%= render "shared/errors", object: @review %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :stars %>
  <% Review::STAR_OPTIONS.each do |star| %>
  <span class="star">
    <%= f.radio_button :stars, star %>
    <%= label_tag star %>
  </span>
<% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, prompt: "Your review" %>

  <%= f.submit %>
<% end %>
